# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [44]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = '/home/osboxes/Documents/Day_007_HW/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [45]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()
print(df_train)
print(df_test)

     Pclass                                               Name     Sex   Age  \
0         3                            Braund, Mr. Owen Harris    male  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2         3                             Heikkinen, Miss. Laina  female  26.0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4         3                           Allen, Mr. William Henry    male  35.0
..      ...                                                ...     ...   ...
886       2                              Montvila, Rev. Juozas    male  27.0
887       1                       Graham, Miss. Margaret Edith  female  19.0
888       3           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889       1                              Behr, Mr. Karl Howell    male  26.0
890       3                                Dooley, Mr. Patrick    male  32.0

     SibSp  Parch            Ticket     Fare Cabin Embarked
0        1      0         A/5 21171   7.2500   NaN        S
1        1      0          PC 17599  71.2833   C85        C
2        0      0  STON/O2. 3101282   7.9250   NaN        S
3        1      0            113803  53.1000  C123        S
4        0      0            373450   8.0500   NaN        S
..     ...    ...               ...      ...   ...      ...
886      0      0            211536  13.0000   NaN        S
887      0      0            112053  30.0000   B42        S
888      1      2        W./C. 6607  23.4500   NaN        S
889      0      0            111369  30.0000  C148        C
890      0      0            370376   7.7500   NaN        Q

[891 rows x 10 columns]
     Pclass                                          Name     Sex   Age  \
0         3                              Kelly, Mr. James    male  34.5
1         3              Wilkes, Mrs. James (Ellen Needs)  female  47.0
2         2                     Myles, Mr. Thomas Francis    male  62.0
3         3                              Wirz, Mr. Albert    male  27.0
4         3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
..      ...                                           ...     ...   ...
413       3                            Spector, Mr. Woolf    male   NaN
414       1                  Oliva y Ocana, Dona. Fermina  female  39.0
415       3                  Saether, Mr. Simon Sivertsen    male  38.5
416       3                           Ware, Mr. Frederick    male   NaN
417       3                      Peter, Master. Michael J    male   NaN

     SibSp  Parch              Ticket      Fare Cabin Embarked
0        0      0              330911    7.8292   NaN        Q
1        1      0              363272    7.0000   NaN        S
2        0      0              240276    9.6875   NaN        Q
3        0      0              315154    8.6625   NaN        S
4        1      1             3101298   12.2875   NaN        S
..     ...    ...                 ...       ...   ...      ...
413      0      0           A.5. 3236    8.0500   NaN        S
414      0      0            PC 17758  108.9000  C105        C
415      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0      0              359309    8.0500   NaN        S
417      1      1                2668   22.3583   NaN        C

[418 rows x 10 columns]

In [46]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [47]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [48]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [49]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
"""
Your Code Here
"""
int_sum = 0
float_sum = 0
object_sum = []
lenObj = 0
obj_list = []
for INT in int_features:
    int_sum += df[INT]
print("int_mean:", int_sum.mean())
print("int_Max:", int_sum.max())
print("int_nunique:", int_sum.nunique())

for FLOAT in float_features:
    print(FLOAT)
    float_sum += df[FLOAT]
print("float_mean:", float_sum.mean())
print("float_Max:", float_sum.max())
print("float_nunique:", float_sum.nunique())


#for object處理資料
#for ob in range(len(object_features)):
#    obj_list = obj_list.concat(df[ob])

for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        df = df.drop([feature] , axis=1)
    elif dtype == 'int64':
        df = df.drop([feature] , axis=1)
obj_list = df
print(type(obj_list))
print(obj_list)

int_mean: 3.1787624140565316
int_Max: 13
int_nunique: 11
Age
Fare
float_mean: 66.53791760765559
float_Max: 570.3292
float_nunique: 773
<class 'pandas.core.frame.DataFrame'>
                                                  Name     Sex  \
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
..                                                 ...     ...
413                                 Spector, Mr. Woolf    male
414                       Oliva y Ocana, Dona. Fermina  female
415                       Saether, Mr. Simon Sivertsen    male
416                                Ware, Mr. Frederick    male
417                           Peter, Master. Michael J    male

                 Ticket Cabin Embarked
0             A/5 21171   NaN        S
1              PC 17599   C85        C
2      STON/O2. 3101282   NaN        S
3                113803  C123        S
4                373450   NaN        S
..                  ...   ...      ...
413           A.5. 3236   NaN        S
414            PC 17758  C105        C
415  SOTON/O.Q. 3101262   NaN        S
416              359309   NaN        S
417                2668   NaN        C

[1309 rows x 5 columns]

In [55]:
for c in object_features:
    obj_df = df[c].value_counts()
    print(obj_df)
    
for cc in object_features:
    obj_ans = df[cc].value_counts()
    print(cc,":", obj_ans.mean())

#作業一容易遇到的問題是在找object的平均值,最大值,相異值,原因是因為object不是數值而是屬於類別型特徵,
#必須賦予值並找到個數才能計算特徵平均值等關係

Connolly, Miss. Kate                2
Kelly, Mr. James                    2
Navratil, Master. Edmond Roger      1
Gustafsson, Mr. Alfred Ossian       1
Dika, Mr. Mirko                     1
                                   ..
Hays, Miss. Margaret Bechstein      1
Gilnagh, Miss. Katherine "Katie"    1
Nieminen, Miss. Manta Josefina      1
Samaan, Mr. Youssef                 1
Cacic, Mr. Jego Grga                1
Name: Name, Length: 1307, dtype: int64
male      843
female    466
Name: Sex, dtype: int64
CA. 2343        11
1601             8
CA 2144          8
3101295          7
S.O.C. 14879     7
                ..
17770            1
695              1
349216           1
365226           1
113807           1
Name: Ticket, Length: 929, dtype: int64
C23 C25 C27        6
G6                 5
B57 B59 B63 B66    5
D                  4
B96 B98            4
                  ..
E38                1
C130               1
E12                1
C111               1
A18                1
Name: Cabin, Length: 186, dtype: int64
S    914
C    270
Q    123
Name: Embarked, dtype: int64
Name : 1.0015302218821729
Sex : 654.5
Ticket : 1.4090419806243273
Cabin : 1.586021505376344
Embarked : 435.6666666666667

In [ ]:
#ANS
#我猜是複合型的特徵,例如需要根據國籍的特徵才能判斷各國風土民情,例如亞洲人喜歡米飯麵食,歐美人可能喜歡牛排等,可能會比較複雜
#因為必須先整理國籍的特徵再根據這些特徵給予飲食習慣的特徵分數等等.
#目前覺得最困難的應該是類別型特徵,要能夠準確定義對應的分數可能需要一點經驗的累積.